{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
            <link rel="canonical" href="{{ page.url(true, true) }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            {% block stylesheets %}
                {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
                {% do assets.addCss('https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css', 99) %}
                {% do assets.addCss('theme://css/custom.css', 98) %}
                {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', 97) %}
            {% endblock %}
            {{ assets.css() }}

        {% endblock head %}
    </head>
    <body>

    {% block header %}
        <header>
            <div class="container w-100 relative"> {# vh100 / vh-25 #}
                <div class="menu fl w-100 fixed pv4 z-999">
                    <div class="logo fl w-80 w-30-l tl h2">
                        <div class="ml4 ml5-l searcher">

                        </div>
                        <div class="ml4 ml5-l tracked">
                            <a href="#" class="f5 col-dark h2 ph2 dt bg-near-white no-underline">Car Shop</a>
                        </div>
                    </div>
                    <div id="menu-selector" class="menubutton w-20 dn-l tr h2 fr f3 white">
                        <div class="mr4 mr5-l tracked-mega ttu">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                    <div class="menubar dn di-l w-70-l fl lh-copy f7 ttu tracked-mega fixed inline-l right-0 tr mt5 mt0-l pb2 pb0-l bg-col-dark">
                        <div class="mr4 mr5-l">
                            <div class="fr-l ml4 mt4 pv2 pv0-l v-mid">
                                {% include 'partials/navigation.html.twig' %}
                            </div>
                            <div class="fr-l ml4 mt2 pv2 pv0-l">
                                <form name="searchForm" class="form-inline" action="">
                                    <input class="form-control mr-sm-2 fields" id="field" type="text" placeholder="Search">
                                    <button class="btn btn-success" id="buscar" type="submit">Search</button>
                                </form>
                            </div>
                            {#<div class="fr-l ml4 mt2 pv2 pv0-l">
                                <a href="#" class="link dim near-white">about</a>
                            </div>
                            <div class="fr-l ml4 mt2 pv2 pv0-l">
                                <a href="#" class="link strike dim near-white">projects</a>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {#
                <div class="searcher">
                    <form name="searchForm" class="form-inline" action="">
                        <input class="form-control mr-sm-2 fields" id="field" type="text" placeholder="Search">
                        <button class="btn btn-success" id="buscar" type="submit">Search</button>
                    </form>
                </div>
    #}

    {% block body %}
        <button id="myBtn" onclick="scrolltoTop()" title="Go to top">Top</button>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="{{ url('theme://images/MB_V250d.jpg') }}" style="width:100%">
                <div class="text">Mercedes-Benz V250d AMG Line</div>
            </div>

            <div class="mySlides">
                <img src="{{ url('theme://images/HondaCEV.jpg') }}" style="width:100%">
                <div class="text">Honda Clarity EV</div>
            </div>

            <div class="mySlides">
                <img src="{{ url('theme://images/Infiniti_PB_S.jpg') }}" style="width:100%">
                <div class="text">Infiniti Project Black S</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />
        <div class="tc">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="tc">
            <input type="button" class="dplyBtn" value="Desplegar teclado" id="dKeyboard">
        </div>

        <div class="tc" id="teclado">
            <input type="button" class="btns" name="boton" value="Q">
            <input type="button" class="btns" name="boton" value="W">
            <input type="button" class="btns" name="boton" value="E">
            <input type="button" class="btns" name="boton" value="R">
            <input type="button" class="btns" name="boton" value="T">
            <input type="button" class="btns" name="boton" value="Y">
            <input type="button" class="btns" name="boton" value="U">
            <input type="button" class="btns" name="boton" value="I">
            <input type="button" class="btns" name="boton" value="O">
            <input type="button" class="btns" name="boton" value="P">
            <br />
            <input type="button" class="btns" name="boton" value="A">
            <input type="button" class="btns" name="boton" value="S">
            <input type="button" class="btns" name="boton" value="D">
            <input type="button" class="btns" name="boton" value="F">
            <input type="button" class="btns" name="boton" value="G">
            <input type="button" class="btns" name="boton" value="H">
            <input type="button" class="btns" name="boton" value="J">
            <input type="button" class="btns" name="boton" value="K">
            <input type="button" class="btns" name="boton" value="L">
            <input type="button" class="btns" name="boton" value="Ñ">
            <br />
            <input type="button" class="btns" name="boton" value="Z">
            <input type="button" class="btns" name="boton" value="X">
            <input type="button" class="btns" name="boton" value="C">
            <input type="button" class="btns" name="boton" value="V">
            <input type="button" class="btns" name="boton" value="B">
            <input type="button" class="btns" name="boton" value="N">
            <input type="button" class="btns" name="boton" value=",">
            <input type="button" class="btns" name="boton" value=".">
            <input type="button" class="btns" name="boton" value="-">
            <br />
            <input type="button" class="btnshift" value="Shift" id="shift">
        </div>
        <div id="field">

        </div>
        <section id="body">
            <div class="wrapper padding">
                {% block content %}{% endblock %}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        <footer id="footer">
            <div class=" mw50-m mw100-ns mw100-l info roboto"> {# fl w50 pa2 ma3 info roboto #} {# mw6 #}
                <div id="infoEx">Información sobre ti:</div>
                <div id="info"></div>
                <div id="tPantalla"></div>
                <div id="os"></div>
                <br />
                <div id="infoEx">Información sobre ti:</div>
                <div id="cookies"></div>
                <div id="host"></div>
            </div>
            <div class="mw50-m mw100-ns mw100-l contact roboto"> {# fl w50 pa2 ma3 contact roboto #} {# mw6 #}
                <p class="underline">Contacto:</p>
                <form action="#" name="cnctForm" id="cForm" onsubmit="vldcnForm()" method="POST">
                    <table>
                        <tr><td>Nombre:</td><td><input type="text" class="fields" name="fname"></td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td>Correo electrónico:</td><td><input type="text" class="fields" name="femail"></td></tr>
                    </table>
                    <br />
                    <input type="reset" class="btn">
                    <input type="submit" class="btn" value="Enviar">
                </form>
            </div>
            <div class="tc sn">
                <p id="infoEx">Redes sociales:</p>
                <a href="#" class="fa fa-facebook  rrss"></a>
                <a href="#" class="fa fa-twitter   rrss"></a>
                <a href="#" class="fa fa-youtube   rrss"></a>
                <a href="#" class="fa fa-instagram rrss"></a>
            </div>
            <div class="w-100 pa2 tc copyright"> {# class="tc copyright" #}
                Copyright 2018 - Sergio Chávez - Theme built for educational purposes
            </div>
        </footer>
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}

    </body>
    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', 99) %}
        {% do assets.addJs('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

    <script>
        /*<-- Información del usuario -->*/
        let nNavegador = navigator.appCodeName;
        let pAltura = screen.height;
        let pAnchura = screen.width;
        let nOS = navigator.platform;

        /*<-- Información de la página web -->*/
        let nCookies = navigator.cookieEnabled;
        let pHost = window.location.hostname;

        if (nCookies === true) {
            nCookies = "Sí";
        }else{
            nCookies = "No";
        }
        /*<-- Información del visitante -->*/
        document.getElementById("info").innerHTML = "Tu navegador es: "+nNavegador;
        document.getElementById("tPantalla").innerHTML = "Las medidas de tu pantalla son: "+pAnchura+" x "+pAltura;
        document.getElementById("os").innerHTML = "Tu Sistema Operativo es: "+nOS;

        /*<-- Información de la página web -->*/
        document.getElementById("cookies").innerHTML = "¿Las cookies están habilitadas? "+nCookies;
        document.getElementById("host").innerHTML = "El host es "+pHost;

        /*******************************************************************************/

        window.onload = cargar;

        /*<-- Botón para subir arriba -->*/
        window.onscroll = function() {
            scrolltoTop();
        };

        function cargar() {
            iniciar();
        }

        function scrolltoTop() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        /*<-- Validación de formulario por JS -->*/
        function iniciar(){
            document.getElementById("cForm").addEventListener("submit", vldcnForm);
        }

        function vldcnForm(event) {

            let cEmail = document.getElementById("cform").elements("femail");

            if(document.getElementById("cForm").elements["fname"].value === "" && document.getElementById("cForm").elements["femail"].value ==="" ){
                alert("Te faltan elementos por completar");
                event.preventDefault();
            }
            if (cEmail.indexOf("@") === 0){
                alert("Falta el campo del email");
                event.preventDefault();
            }
        }
        /*******************************************************************************/

        var menuButton = document.getElementById("menu-selector");

        var active = false;

        menuButton.addEventListener("click", onMenuClick);

        function onMenuClick() {
            var menubar = document.getElementsByClassName("menubar");
            if(!active) {
                menubar[0].classList.remove("dn");
                active = true;
            } else {
                menubar[0].classList.add("dn");
                active = false;
            }
        }

        /*******************************************************************************/

        let slideIndex = 1;
        showDivs(slideIndex);

        function plusSlides(n){
            showDivs(slideIndex += n);
        }
        function currentSlide(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n){
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length){
                slideIndex = 1;
            }
            for (i = 0; i < slides.length; i++){
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++){
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }

        /*******************************************************************************/

        $(document).ready(function(){

            /*<-- Animación para subir arriba -->*/
            $("#myBtn").click(function() {
                $('html, body').animate({scrollTop: 0}, 1000);
            });

            /*<-- Teclado retraíble -->*/
            $("input[name='boton']").click(function () {
                var tBtn = $(this).val();
                var tBtn2 = $("#field").val();

                var tBtn3 = tBtn2 + tBtn;

                $("#field").val(tBtn3);
            });

            /*<-- Buscar el contenido escrito en el buscador -->*/
            $("#buscar").click(function () {
                var valor_form = $("#field").val();
                $("form[name='searchForm']").attr('action', valor_form);
            });

            /*<-- Pasar el valor de los botones a minusculas -->*/
            document.getElementById("shift").addEventListener("click", minusculas);

            function minusculas() {
                let botones = document.getElementsByClassName("btns");
                for (let i = 0; i < botones.length; i++){
                    botones[i].value = botones[i].value.toLowerCase();
                }
                if (botones.value.toLowerCase()){
                    botones[i].value = botones[i].value.toUpperCase();
                }
            }
            /*<-- Hacer aparecer y desaparecer el teclado -->*/
            $("#dKeyboard").click(function () {
                $("#teclado").toggle();
            });

        });

        /*******************************************************************************/

    </script>
</html>
